.container {
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 900px;
  }

  .site-title {
    font-family: "Chivo";
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0B1418;
    margin: 2rem 0 0 0;
  }

  .heading {
    font-family: "Chivo";
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FF47DA;
  }

  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 2rem 0 6rem 0;
  }

  .nav-link-item {
    padding-right: 2rem;
  }

  .nav-link-text {
    color: #0B1418;
  }

  .nav-link-text:hover {
    color:#FF47DA;
    padding-bottom: 3px;
  }

  .nav-link-text:focus {
    border-bottom: 2px solid #FF47DA;
  }